<h2 class="bg-gray-700 text-gray-100 text-base uppercase p-5">{{ data.task ? 'Editar Tarea' : 'Nueva Tarea' }}</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm" class="flex flex-col">
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" required maxlength="100">
      <mat-hint align="end">{{taskForm.get('title')?.value?.length || 0}} / 100</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prioridad</mat-label>
      <mat-select formControlName="priority" required>
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          {{priority}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- Botón personalizado para cargar archivo -->
    <button mat-raised-button class="bg-blue-500 w-[200px] font-extralight text-gray-200 transition-all duration-300 hover:bg-blue-800 hover:text-gray-50" type="button" (click)="fileInput.click()">
      <mat-icon>cloud_upload</mat-icon>
      Cargar imagen
    </button>
    
    <!-- Input file oculto -->
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
    
    <!-- Mostrar el nombre del archivo seleccionado (opcional) -->
    <p *ngIf="selectedFileName">Archivo seleccionado: {{ selectedFileName }}</p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button class="bg-gray-800 text-gray-200 transition-all duration-300 hover:bg-red-500 hover:text-gray-50" (click)="onSave()" [disabled]="taskForm.invalid || isSubmitting">Guardar</button>
</mat-dialog-actions>